<div class="container">
    <h1>Data From API</h1>
    <div class="card">
        <h1>Registered Students </h1>
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Roll Number</th>
                    <th>Email</th>
                    <th>Department</th>
                </tr> 
            </thead>
            <thead>
                <!-- <tr *ngFor = "let datas of user_records"> -->
                    <!-- <td>{{datas.name}}</td>
                    <td>{{datas.roll}}</td>
                    <td>{{datas.email}}</td>
                    <td>{{datas.Department}}</td>
                </tr> -->
            </thead>
        </table>
    </div>
</div>